.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-window {
    width: 600px;
    border-radius: 5px;
    background: white;
    height: 300px;
    margin: 100px auto;
}
.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(51, 39, 39);
}
.modal-title {
    font-size: 1.5rem;
}
.modal-close {
    cursor: pointer;
}
.modal-body {
    padding: 10px;
}
.modal-footer {
    padding: 5px 10px;
    border-top: 1px solid rgb(51, 39, 39);
}
.modal-body__close {
    margin-left: 10px;
    font-weight: bold;
}
.form-group{
    display: flex;
    flex-direction: column;
}

